html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  @include margin-reset;
  min-width: 375px;
  font-family: "CeraPro", "Arial", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  text-align: left;
  color: $maintext-color;
  text-transform: $uppercase;
  background-color: $mainback-color;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 375px;
  padding: 0 30px;
  margin: 0 auto;
}

.menu__open {
  overflow: hidden;
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 240px;
  }
}

@media (min-width: $xldesktop-width) {
  .container {
    padding: 0 320px;
    max-width: 1920px;
  }
}