$maintext-color: rgb(38, 49, 65);
$mainback-color: rgb(255, 255, 255);
$full-cart: rgb(156,87,89);
$empty-cart: rgb(192,214,201);
$border-color: rgb(224,224,224);
$menu-button-back: rgb(38,49,65);
$image-back1: rgb(220,233,225);
$image-back2: rgb(156,87,89);
$catalog-image-back: rgb(243,243,243);
$text-color2: rgb(0,0,0);
$text-color3: rgb(151,153,167);
$uppercase: uppercase;
$mobile-width-only: 767px;
