$maintext-color: rgb(38, 49, 65);
$border-color2: rgb(38, 49, 65);
$menu-button-back: rgb(38,49,65);
$menu-mobile-back: rgba(38, 49, 65, 0.8);
$mainback-color: rgb(255, 255, 255);
$text-color4: rgb(255, 255, 255);
$check-back: rgba(255, 255, 255, 0.7);
$back-opacity: rgba(255, 255, 255, 0.2);
$full-cart: rgb(156,87,89);
$image-back2: rgb(156,87,89);
$text-color5: rgb(156,87,89);
$empty-cart: rgb(192,214,201);
$menu-decoration: rgb(192,214,201);
$border-color5: rgb(192,197,203);
$border-color: rgb(224,224,224);
$image-back3: rgb(224,224,224);
$text-color6: rgb(224,224,224);
$modelback-color: rgba(224,224,224,0.23);
$image-back1: rgb(220,233,225);
$catalog-image-back: rgb(243,243,243);
$text-color2: rgb(0,0,0);
$fill-color1: rgb(0,0,0);
$border-color3: rgb(0,0,0);
$menulink-border: rgba(0, 0, 0, 0.5);
$text-color3: rgb(151,153,167);
$menu-line: rgb(151,153,167);
$back-color: rgb(151,153,167);
$uppercase: uppercase;
$link-color2: rgb(189,158,146);
$image-back4: rgb(189,158,146);
$border-color4: rgb(196,196,196);
$back-color2: rgb(245,245,245);
$mobile-width-only: 1439px;
$landscape-width: 576px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1440px;
$xldesktop-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
