.color-gallery {
  @include margin-reset;
  list-style: none;
  display: flex;
  //margin: 0 auto;
  padding: 20px 30px;
}

.color-gallery__item {
  width: 90px;
  height: 90px;
  border: none;
  padding: 0;
  background-color: $mainback-color;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-gallery__image {
  display: block;
  width: 90px;
  height: 90px;
}

.color-gallery__item:hover .color-gallery__image,
.color-gallery__item:focus .color-gallery__image,
.color-gallery__item--active .color-gallery__image {
  width: 80px;
  height: 80px;
}

.color-gallery__item:hover,
.color-gallery__item:focus,
.color-gallery__item--active {
  border: 2px solid $border-color2;
}

@media (min-width: $laptop-width) {
  .color-gallery {
    padding: 20px 0 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .color-gallery {
    padding: 0 0 20px 0;
  }
}