//Временные стили для демонстрации. Чтобы показать эту часть меню, нужно убрать класс
.menu__list-hide {
  display: none;
}
//-------

.menu__wrapper {
  background-color: $menu-mobile-back;
  backdrop-filter: blur(15px);
}

.menu__list {
  list-style: none;
  background-color: $mainback-color;
  width: 313px;
  //min-height: 96vh;
  border-top: 1px solid $border-color;
  padding: 60px 35px 40px 35px;
  height: 96vh;
    overflow-y: scroll;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.menu__item {
  border-bottom: 1px solid $menu-line;
  position: relative;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__link {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration: none;
  color: inherit;
  padding: 15px 0 13px;
  display: block;
  cursor: pointer;
}

.menu__link::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.menu__item--user {
  margin-top: 207px;
  margin-bottom: 35px;
  position: relative;
}

.menu__user-link {
  font-size: inherit;
  font-weight: inherit;
  line-height: 18px;
  text-decoration: none;
  color: $text-color2;
  cursor: pointer;
  padding: 15px 30px;
  text-transform: none;
}

.menu__link:hover,
.menu__link:focus,
.menu__user-link:hover,
.menu__user-link:focus {
  font-weight: 400;
}

.menu__item--user::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 18px;
  top: 35%;
  transform: translateY(-50%);
  left: 5px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.menu__submenu-list {
  padding-top: 33px;
}

.menu__submenu-item--button {
 border: none;
}

.menu__submenu-button {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: left;
  padding-left: 17px;
  border: none;
  background-color: $mainback-color;
  position: relative;
  cursor: pointer;
}

.menu__submenu-button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  left: -7px;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.menu__submenu-list .menu__item::after {
  display: none;
}



