.nav {
  overflow: auto;
  white-space: nowrap;
}

.nav--hide {
  display: none;
}

.nav__list {
  @include margin-reset;
  list-style: none;
  display: flex;
  width: 100%;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  border-right: 1px solid $mainback-color;
}

.nav__item:last-child {
  border-right: none;
}

.nav__item--new,
.nav__item--discount,
.nav__menu-list {
  display: none;
}

.nav__link {
  padding: 17px 10px;
  text-align: center;
  background-color: $menu-button-back;
  color: $text-color4;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  display: block;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.nav__link:hover,
.nav__link:focus,
.nav__item--discount .nav__link:hover,
.nav__item--discount .nav__link:focus {
  background-color: $image-back1;
  color: inherit;
}

@media (min-width: $landscape-width) {
  .nav__item {
    width: 25%;
    border-right: none;
  }

  .nav__item--new,
  .nav__item--discount {
    display: block;
  }

  .nav__item--discount .nav__link {
    color: $link-color2;
  }
}

@media (min-width: $tablet-width) {
  .nav {
    display: block;
    order: 2;
    overflow: visible;
    white-space: normal;
  }

  .nav--hide {
    display: block;
  }

  .nav__list {
    justify-content: center;
    background-color: $menu-button-back;
    padding-right: 40px;
  }

  .nav__item {
    position: relative;
    z-index: 25;
    width: auto;
    border: none;
  }

  .nav__link {
    line-height: 14px;
    padding: 20px 15px 18px 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .nav__link:hover,
  .nav__link:focus {
    background-color: $image-back1;
    color: inherit;
  }

  .nav__item .nav__menu-list {
    display: none;
    @include margin-reset;
    list-style: none;
    background-color: $image-back1;
    padding: 10px 15px;
    width: 245px;
    position: absolute;
    top: 52px;
    left: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .nav__item:hover .nav__menu-list {
    display: block;
  }

  .nav__menu-link {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-decoration: none;
    color: inherit;
    text-transform: none;
    display: block;
    cursor: pointer;
    white-space: nowrap;
  }

  .nav__menu-link:hover,
  .nav__menu-link:focus {
    font-weight: 700;
  }

  .nav__menu-item {
    border-bottom: 0.5px solid $menulink-border;
  }

  .nav__menu-item:last-child {
    border-bottom: none;
  }
}