.sorting__wrapper {
  //height: 90vh;
  //background-color: $mainback-color;
  position: initial;
}

.sorting__list {
  @include margin-reset;
  list-style: none;
  padding: 5px 30px 60px 30px;
  background-color: $mainback-color;
}

.sorting__item-list {
  @include margin-reset;
  list-style: none;
}

.sorting__link {
  display: none;
}

.sorting__label {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  text-decoration: none;
  color: inherit;
  position: relative;
  width: 100%;
  display: block;
  padding: 20px 0 15px;
  border-bottom: 1px solid $border-color;
}

.sorting__label:hover .sorting__check::before,
.sorting__label:focus .sorting__check::before,
.sorting__label:active .sorting__check::before,
.sorting__label--active .sorting__check::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  border: none;
}

.sorting__label:hover,
.sorting__label:focus,
.sorting__label--active {
  border-bottom: 1px solid $border-color2;
}

@media (min-width: $tablet-width) {
  .sorting__wrapper {
    width: 40%;
    background-color: $mainback-color;
    margin-left: auto;
  }
}

@media (min-width: $xlaptop-width) {
  .sorting__wrapper {
    width: 235px;
    margin-left: 0;
    height: auto;
    max-height: none;
    position: relative;
    border: 1px solid $border-color;
  }

  .sorting__item:nth-child(2) {
    order: 1;
  }

  .sorting__link {
    position: relative;
    display: block;
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 25px 25px 20px 25px;
  }

  .sorting__link--open::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 25px;
    background-image: url(../img/icon-down.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .sorting__link--closed::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: 20px;
      right: 25px;
      background-image: url(../img/icon-up.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }

  .sorting__wrapper .sorting__list {
    position: absolute;
    top: 45px;
    left: -1px;
    width: 235px;
    //height: 170px;
    background-color: $mainback-color;
    border: 1px solid $border-color;
    border-top: none;
    z-index: 20;
    padding: 0 25px;
    display: none;
  }

  .sorting__wrapper .sorting__list {
    z-index: 10;
  }

  .sorting__label {
    width: 180px;
    font-weight: 300;
    padding: 10px 0;
  }

  //.sorting__checkbox:checked + .sorting__check {
  //  content: "";
  //  background-image: none;
  //}
  //
  //.sorting__checkbox:checked + .sorting__check::before {
  //  content: "";
  //  width: 180px;
  //  bottom: -9px;
  //}

  .sorting__label:hover .sorting__check::before,
  .sorting__label:focus .sorting__check::before,
  .sorting__label:active .sorting__check::before,
  .sorting__label--active .sorting__check::before{
    display: none;
  }

  .sorting__item:last-child {
    margin-bottom: 10px;
  }
}