.subscription {
  background-color: $image-back1;
  padding-top: 40px;
  max-width: none;
}

.subscription--catalog {
  margin-top: 35px;
}

.subscription__title {
  @include margin-reset;
  font-family: "Boita", "Times New Roman", serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  margin-bottom: 11px;
}

.subscription__text {
  @include margin-reset;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 30px;
  color: $text-color2;
}

.subscription__sup {
  color: $text-color5;
}

.subscription__note {
  @include margin-reset;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
  text-transform: none;
  padding-right: 44px;
  margin-top: 20px;
}

.subscription__link {
  color: inherit;
  cursor: pointer;
}

.subscription__link:hover,
.subscription__link:focus {
  color: $menulink-border;
}

.subscription__wrapper {
  padding-bottom: 45px;
}

.subscription-alert {
  min-height: 515px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-bottom: 47px;
}

.subscription-alert__title {
  line-height: 20px;
  margin-bottom: 20px;
}

.subscription-alert .subscription__text {
  padding: 0 40px;
  text-align: center;
}

.subscription-alert__hide {
  display: none;
}

@media (min-width: $tablet-width) {
  .subscription__title,
  .subscription__text {
    text-align: center;
  }

  .subscription__note-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 755px;
    margin-right: auto;
    margin-left: auto;
  }

  .subscription__note {
    padding-right: 0;
  }

  .subscription__note:first-child {
    width: 61%;
  }

  .subscription__note:last-child {
    width: 36%;
    margin-left: 10px;
  }
}

@media (min-width: $laptop-width) {
  .subscription__title {
    font-size: 36px;
    line-height: 36px;
  }

  .subscription__text {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: $xlaptop-width) {
  .subscription__title {
    font-size: 40px;
  }
}

@media (min-width: $desktop-width) {
  .subscription {
    padding-top: 105px;
  }

  .subscription__wrapper {
    border-bottom: none;
    padding-bottom: 115px;
  }

  .subscription__title {
    font-size: 46px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .subscription__text {
    text-align: center;
    margin-bottom: 57px;
  }

  .subscription__note:first-child {
    width: 67%;
  }

  .subscription__note:last-child {
    width: 30%;
  }
}

@media (min-width: $xldesktop-width) {
  .subscription__title {
    padding-right: 30px;
  }
}