.actual-block {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.actual-block__image-wrapper {
  display: block;
  width: 100%;
  min-height: 200px;
  background-color: $image-back1;
  margin: 0 auto;
}

.actual-block__image-wrapper--padding {
  @include margin-reset;
  background-color: $image-back2;
  width: 57%;
  min-height: 275px;
  margin: 0 auto;
}

.actual-block__link {
  text-decoration: none;
  color: inherit;
}

.actual-block__title {
  font-family: "Boita", "Times New Roman", serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding: 16px 31px;
}

.actual-block__button {
  display: none;
}




@media (min-width: $desktop-width) {
  .actual-block {
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1px solid $border-color;
    align-items: center;
    padding-bottom: 100px;
  }

  .actual-block__link-wrapper {
    display: flex;
    flex-direction: column;
    order: 2;
    padding-right: 40px;
  }

  .actual-block__button {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.1em;
    border: 1px solid $maintext-color;
    text-decoration: none;
    color: inherit;
    padding: 14px 20px;
    margin-right: auto;
  }

  .actual-block__image-wrapper {
    order: 1;
    width: 50%;
    margin: 0;
    margin-right: 60px;
  }

  .actual-block__image {
    min-width: 720px;
    height: auto;
    display: block;
    font-size: 0;
  }

  .actual-block__title {
    @include margin-reset;
    font-size: 60px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    padding: 20px 0;
    text-align: left;
    width: 70%;
    margin-bottom: 21px;
  }

  .actual-block--padding {
    padding-top: 60px;
    border-top: none;
  }

  .actual-block--padding .actual-block__link-wrapper {
    order: 1;
    padding-left: 240px;
  }

  .actual-block--padding .actual-block__image-wrapper {
    margin-right: 0;
  }

  .actual-block--padding .actual-block__title {
    width: 95%;
  }

  .actual-block--background {
    position: relative;
    border: none;
    height: 540px;
    padding-bottom: 0;
    justify-content: center;
  }

  .actual-block--background:before {
    content: "";
    background-image: url("../img/promoback-desk@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/promoback-desk@2x.jpg");
      background-size: cover;
    }
  }

  .actual-block--background .actual-block__title {
    text-align: center;
    margin: 0 auto;
    font-size: 64px;
    line-height: 60px;
  }

}

