.actual-block {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  //width: 375px;
  max-width: 768px;
  margin: 0 auto;
}

.actual-block__image-wrapper {
  display: block;
  width: 100%;
  min-height: 200px;
  background-color: $image-back1;
  //margin-right: auto;
  font-size: 0;
  line-height: 0;
}

.actual-block__image {
  display: block;
}

.actual-block__image-wrapper--padding {
  @include margin-reset;
  background-color: $image-back2;
  width: 214px;
  min-height: 275px;
  margin: 0 auto;
}

.actual-block__link-wrapper {
  width: 375px;
  margin: 0 auto;
}

.actual-block__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.actual-block__title {
  @include margin-reset;
  font-family: "Boita", "Times New Roman", serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  padding: 16px 30px 25px 30px;
}

.actual-block__button {
  display: none;
}

.actual-block--background {
  display: none;
}

.actual-block--selection {
  margin: 0 auto;
  padding-top: 20px;
}

.actual-block--selection .actual-block__title {
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .actual-block {
    max-width: 608px;
  }

  .actual-block__image-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .actual-block--selection .actual-block__image-wrapper {
    width: 50%;
  }

  .actual-block__image {
    width: 100%;
  }
}

@media (min-width: $xlaptop-width) {
  .actual-block--selection .actual-block__image-wrapper {
    width: 60%;
  }
}

@media (min-width: $desktop-width) {
  .actual-block {
    flex-direction: row;
    justify-content: flex-start;
    //border-top: 1px solid $border-color;
    align-items: center;
    padding-bottom: 100px;
    width: 1440px;
    max-width: none;
    margin: 0;
  }

  .actual-block__link-wrapper {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 39%;
  }

  .actual-block__button {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    padding: 14px 20px;
    margin-right: auto;
  }

  .actual-block__image-wrapper {
    order: 1;
    width: 720px;
    height: 540px;
    margin: 0;
    margin-right: 60px;
    font-size: 0;
    line-height: 540px;
  }

  .actual-block--selection .actual-block__image-wrapper {
    width: 720px;
  }

  .actual-block__image {
    width: 720px;
    height: 540px;
    vertical-align: middle;
    display: block;
  }

  .actual-block__title {
    font-size: 60px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    padding: 20px 0 25px 0;
    text-align: left;
  }

  .actual-block--padding {
    padding-top: 60px;
    border-top: none;
    justify-content: space-between;
    margin-left: auto;
  }

  .actual-block--padding .actual-block__title {
    padding: 0 0 20px 0;
  }

  .actual-block--padding .actual-block__link-wrapper {
    order: 1;
    padding-left: 240px;
    width: 46%;
  }

  .actual-block--padding .actual-block__image-wrapper {
    margin-right: 0;
    margin-left: 60px;
    width: 720px;
  }

  .actual-block--background {
    position: relative;
    border: none;
    min-height: 540px;
    padding-bottom: 0;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }

  .actual-block--background:before {
    content: "";
    background-image: url("../img/promo-back-desk@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-color: $image-back1;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-back-desk@2x.jpg");
      background-size: cover;
    }
  }

  .actual-block--background .actual-block__link {
    padding: 150px 100px;
  }

  .actual-block--background .actual-block__title {
    text-align: center;
    margin: 0 auto;
    font-size: 64px;
    line-height: 60px;
    width: 55%;
  }

  .actual-block--selection {
    padding-top: 0;
  }

  .actual-block--selection .actual-block__link-wrapper {
    order: 2;
  }

  .actual-block--selection .actual-block__image-wrapper {
    order: 1;
  }
}

@media (min-width: $xldesktop-width) {
  .actual-block {
    width: 1920px;
    padding-bottom: 97px;
  }

  .actual-block__link-wrapper {
    width: 29%;
  }

  .actual-block__image-wrapper {
    margin-right: 80px;
    width: 960px;
  }

  .actual-block--selection .actual-block__image-wrapper {
    width: 960px;
  }

  .actual-block__image {
    width: 960px;
  }

  .actual-block--padding {
    margin-left: 0;
  }

  .actual-block--padding .actual-block__link-wrapper {
    padding-left: 320px;
  }

  .actual-block--padding .actual-block__image-wrapper {
    width: 960px;
  }

  .actual-block--background {
    padding-bottom: 0;
  }

  .actual-block--background .actual-block__title {
    padding-right: 0;
  }

  .actual-block--background:before {
    content: "";
    background-image: url("../img/promo-back-xldesk@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0;
    z-index: -1;
    background-size: cover;
    background-color: $image-back1;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/promo-back-xldesk@2x.jpg");
      background-size: cover;
    }
  }
}

