.catalog-item {
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-right: 6px;
  margin-left: 6px;
  position: relative;
  //min-height: 220px;
}

.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog-item__image-wrapper {
  background-color: $catalog-image-back;
  width: 150px;
  height: 133px;
  flex-shrink: 0;
  margin-bottom: 10px;
  padding-bottom: 21px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.catalog-item__favorite {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 90px;
  right: 10%;
  z-index: 2;
  border: none;
  background: transparent;
}

.catalog-item__favorite::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 17px;
  top: 0;
  right: 0;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-item__link {
  text-decoration: none;
  color: inherit;
}

.catalog-item__title {
  @include margin-reset;
  font-size: inherit;
  font-weight: inherit;
  text-align: left;
  margin-bottom: 5px;
  width: 150px;
}

.catalog-item__cost {
  @include margin-reset;
  font-weight: 400;
  text-align: left;
  line-height: 18px;
  color: $text-color3;
}

.catalog-item__cost--deleted {
  text-decoration-line: line-through;
  margin-right: 5px;
}

.catalog-item__cost--bold {
  font-weight: 700;
  color: $maintext-color;
}

.catalog-item__label {
  @include margin-reset;
  margin-bottom: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  //display: inline-block;
  margin-right: auto;
}

.catalog-item__label--hit {
  color: $mainback-color;
  background-color: $image-back2;
}

.catalog-item__label--discount {
  color: $mainback-color;
  background-color: $maintext-color;
}

.catalog-item__label--novelty {
  background-color: $image-back1;
}

.catalog-item__label--desktop {
  display: none;
}

.catalog-item__ad {
  display: none;
}

.catalog-item__cost--discount {
  display: none;
}

@media (min-width: $desktop-width) {
  .catalog-item {
    max-width: 300px;
    //min-height: 369px;
  }

  .catalog-item__image-wrapper {
    width: 300px;
    height: 300px;
    padding-bottom: 48px;
  }

  .catalog-item__image {
    width: 235px;
    height: 119px;
  }

  .catalog-item__favorite {
    top: 270px;
    right: 6%;
  }

  .catalog-item__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }

  .catalog-item__title {
    color: $text-color2;
    width: auto;
    max-width: 170px;
    margin-right: 10px;
  }

  //.catalog-item__cost {
  //  max-width: 60%;
  //}

  .catalog-item__cost--deleted {
    margin-right: 10px;
  }

  .catalog-item__label--desktop {
    display: block;
  }

  .catalog-item__label {
    position: absolute;
    top: 24px;
    left: 0;
    display: inline-block;
  }

  .catalog-item__hide,
  .catalog-item__label--hide {
    display: none;
  }
}

@media (min-width: $xldesktop-width) {
  .catalog-item__title {
    width: 100%;
    max-width: none;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .catalog-item {
    max-width: 400px;
    //min-height: 369px;
  }

  .catalog-item__image-wrapper {
    width: 400px;
    height: 400px;
    padding-bottom: 64px;
    margin-bottom: 15px;
  }

  .catalog-item__image-wrapper--background1 {
    background-color: $image-back1;
  }

  .catalog-item__image-wrapper--background2 {
    background-color: $border-color;
  }

  .catalog-item__image-wrapper--background3 {
    background-color: $link-color2;
  }

  .catalog-item__image {
    width: 311px;
    height: 157px;
  }

  .catalog-item__favorite {
    top: 365px;
    right: 5%;
  }

  .catalog-item__info-wrapper {
    flex-direction: column;
  }

  .catalog-item__cost--discount {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: $image-back2;
    margin-left: 77px;
    display: inline-block;
  }

  .catalog-item__ad {
    @include margin-reset;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: $text-color3;
    margin-top: 5px;
    display: inline-block;
  }

  .catalog-item__label {
    display: none;
  }
}