.catalog {
  border-top: 1px solid $border-color;
  padding-top: 37px;
  padding-bottom: 50px;
}

.catalog__title {
  @include margin-reset;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 16px;
}

.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -6px;
  margin-left: -6px;
}

.catalog__button-wrapper {
  display: flex;
  justify-content: space-around;
}

.catalog__button {
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.catalog__button--mobile {
  display: block;
}

.catalog__button--desktop {
  display: none;
}

.catalog__button--xldesktop {
  display: none;
}

.catalog__thirdblock {
  display: none;
}

@media (min-width: $desktop-width) {
  .catalog {
    border-top: 1px solid $border-color2;
    padding-top: 72px;
    padding-bottom: 100px;
  }

  .catalog__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 33px;
    text-align: center;
  }

  .catalog__button {
    margin-top: 45px;
  }

  .catalog__button--mobile {
    display: none;
  }

  .catalog__button--desktop {
    display: block;
  }

  .catalog__thirdblock {
    border-top: none;
    padding-top: 100px;
    padding-bottom: 200px;
    display: block;
  }
}

@media (min-width: $xldesktop-width) {
  .catalog__button {
    margin-top: 38px;
  }

  .catalog__button--desktop {
    display: none;
  }

  .catalog__button--xldesktop {
    display: block;
  }

  .catalog__thirdblock {
    padding-bottom: 121px;
  }
}