.catalog-index {
  border-top: 1px solid $border-color;
  padding-top: 37px;
  padding-bottom: 50px;
}

.catalog-index__title {
  @include margin-reset;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 16px;
}

.catalog-index__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: -6px;
  margin-left: -6px;
}

.catalog-index__button-wrapper {
  display: flex;
  justify-content: space-around;
}

.catalog-index__button {
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border: 1px solid $border-color2;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.catalog-index__button--mobile {
  display: block;
}

.catalog-index__button--desktop {
  display: none;
}

.catalog-index__button--xldesktop {
  display: none;
}

.catalog-index__thirdblock {
  display: none;
}

@media (min-width: $desktop-width) {
  .catalog-index {
    border-top: 1px solid $border-color2;
    padding-top: 72px;
    padding-bottom: 100px;
  }

  .catalog-index__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 33px;
    text-align: center;
  }

  .catalog-index__button {
    margin-top: 45px;
  }

  .catalog-index__button--mobile {
    display: none;
  }

  .catalog-index__button--desktop {
    display: block;
  }

  .catalog-index__thirdblock {
    border-top: none;
    padding-top: 100px;
    padding-bottom: 200px;
    display: block;
  }
}

@media (min-width: $xldesktop-width) {
  .catalog-index__button {
    margin-top: 38px;
  }

  .catalog-index__button--desktop {
    display: none;
  }

  .catalog-index__button--xldesktop {
    display: block;
  }

  .catalog-index__thirdblock {
    padding-bottom: 121px;
  }
}