.catalog {
  border-top: 1px solid $border-color;
  padding-top: 37px;
  padding-bottom: 45px;
  max-width: 315px;
  margin: 0 auto;
}

.catalog--page {
  border: none;
  padding: 25px 0 50px 0;
}

.catalog--nopadding {
  border: none;
  padding: 0 0 50px 0;
}

.catalog--padding {
  padding-top: 42px;
  padding-bottom: 50px;
}

.catalog__title {
  @include margin-reset;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.catalog--padding .catalog__title {
  margin-bottom: 20px;
}

.catalog__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  //margin-right: -6px;
  //margin-left: -6px;
}

.catalog__button-wrapper {
  display: flex;
  justify-content: space-around;
}

.catalog__button {
  margin: 0 auto;
  margin-top: 5px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
}

.catalog__button--catalog {
  margin-top: 77px;
}

.catalog__button--mobile {
  display: block;
}

.catalog__button--desktop {
  display: none;
}

.catalog__button--xldesktop {
  display: none;
}

.catalog__thirdblock {
  display: none;
}

@media (min-width: $tablet-width) {
  .catalog {
    max-width: 510px;
  }

  .catalog__title {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    border-top: 1px solid $border-color2;
    padding-top: 75px;
    padding-bottom: 100px;
    max-width: 960px;
  }

  .catalog--nopadding {
    border: none;
    padding: 0 0 50px 0;
  }

  .catalog--page {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .catalog--items .catalog-item {
    margin-right: 60px;
  }

  .catalog__title {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 30px;
    text-align: center;
  }

  .catalog--padding .catalog__title {
    margin-bottom: 30px;
  }

  .catalog__button {
    margin-top: 40px;
  }

  .catalog__button--catalog {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .catalog__button--mobile {
    display: none;
  }

  .catalog__button--desktop {
    display: block;
  }

  .catalog__thirdblock {
    border-top: none;
    padding-top: 100px;
    padding-bottom: 200px;
    display: block;
  }

  .catalog__wrapper {
    width: 960px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog__wrapper--items {
    width: 1020px;
  }

  .catalog--selection {
    padding-bottom: 215px;
  }

  .catalog--selection .catalog__wrapper,
  .catalog--items .catalog__wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: $xldesktop-width) {
  .catalog {
    max-width: 1280px;
  }

  .catalog--padding .catalog__button--desktop,
  .catalog__thirdblock .catalog__button--desktop {
    display: none;
  }

  .catalog--padding .catalog__button--xldesktop,
  .catalog__thirdblock .catalog__button--xldesktop {
    display: block;
    margin-top: 5px;
  }

  .catalog__button {
    margin-top: 20px;
  }

  .catalog__thirdblock {
    padding-bottom: 115px;
  }

  .catalog__wrapper {
    width: 1280px;
  }

  .catalog--items .catalog-item {
    margin-right: 40px;
  }

  .catalog__wrapper--items {
    width: 1280px;
  }
}
