.filter-fast__block {
  padding-top: 38px;
  padding-bottom: 28px;
  border-top: 1px solid $border-color;
}

.filter-fast__list {
  @include margin-reset;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-fast__title {
  @include margin-reset;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 10px;
  color: $text-color2;
}

.filter-fast__item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.filter-fast__button {
  border: 1px solid $border-color;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.filter-fast__check {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.filter-fast__checkbox:checked + .filter-fast__check {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  background-color: $check-back;
}

.filter-fast__checkbox:focus ~ .filter-fast__check {
  outline: -webkit-focus-ring-color auto 5px;
}

.filter-fast__checkbox:-moz-focusring ~ .filter-fast__check {
  outline: 2px dotted;
}

.filter-fast__button--size,
.filter-fast__button--color {
  width: 45px;
  height: 45px;
}

.filter-fast__button--color {
  position: relative;
}

.filter-fast__button--color::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  left: 15%;
  bottom: 14%;
  background-color: $image-back1;
}

.filter-fast__button--cost {
  padding: 0 20px;
  text-transform: inherit;
  height: 45px;
  letter-spacing: 0.1em;
}

.filter-fast__main-title {
  display: none;
}

@media (min-width: $desktop-width) {
  .filter-fast {
    display: flex;
    border-top: 1px solid $border-color2;
    flex-direction: column;
    padding-top: 67px;
  }

  .filter-fast__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .filter-fast__block {
    padding-top: 18px;
    padding-bottom: 25px;
    border-top: none;
    margin-right: 35px;
  }

  .filter-fast__main-title {
    @include margin-reset;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 10px;
    color: $text-color2;
    display: block;
  }

  .filter-fast__item {
    margin-right: 8px;
  }

  .filter-fast__item-hide,
  .filter-fast__title {
    display: none;
  }

  .filter-fast__item:nth-child(2) .filter-fast__button--color::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    background-color: $image-back3;
  }

  .filter-fast__item:nth-child(3) .filter-fast__button--color::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    background-color: $fill-color1;
  }

  .filter-fast__item--cost {
    margin-right: -5px;
  }
}