.filter-index__block {
  padding-top: 38px;
  padding-bottom: 28px;
  border-top: 1px solid $border-color;
}

.filter-index__list {
  @include margin-reset;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter-index__title {
  @include margin-reset;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 10px;
  color: $text-color2;
}

.filter-index__item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.filter-index__button {
  border: 1px solid $border-color;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background-color: transparent;
  cursor: pointer;
}

.filter-index__button--size,
.filter-index__button--color {
  width: 45px;
  height: 45px;
}

.filter-index__button--color {
  position: relative;
}

.filter-index__button--color::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  left: 15%;
  bottom: 14%;
  background-color: $image-back1;
}

.filter-index__button--cost {
  padding: 0 19px;
  text-transform: inherit;
  height: 45px;
}

.filter-index__main-title {
  display: none;
}


@media (min-width: $desktop-width) {
  .filter-index {
    display: flex;
    border-top: 1px solid $border-color2;
    flex-direction: column;
    padding-top: 67px;
  }

  .filter-index__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .filter-index__block {
    padding-top: 18px;
    padding-bottom: 40px;
    border-top: none;
    margin-right: 30px;
  }

  .filter-index__main-title {
    @include margin-reset;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 10px;
    color: $text-color2;
    display: block;
  }

  .filter-index__item-hide,
  .filter-index__title {
    display: none;
  }

  .filter-index__item:nth-child(2) .filter-index__button--color::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    background-color: $image-back3;
  }

  .filter-index__item:nth-child(3) .filter-index__button--color::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    background-color: $fill-color1;
  }

  .filter-index__item--cost {
    margin-right: -5px;
  }
}