.form-index__line {
  padding: 14px 10px;
  min-height: 45px;
  width: 100%;
  border: none;
  background-color: $mainback-color;
  margin-bottom: 22px;
}

.form-index__placeholder {
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
  color: inherit;
}

.form-index__list {
  list-style: none;
  @include margin-reset;
  display: flex;
  margin-bottom: 22px;
}

.form-index__item--checkbox {
  margin-right: 10px;
}

.form-index__checkbox-name {
  font-size: 13px;
  line-height: 18px;
  text-transform: none;
}

.form-index__checkbox-name {
  padding-left: 28px;
  position: relative;
}

.form-index__check {
  width: 21px;
  height: 20px;
  position: absolute;
  border: 1px solid $border-color;
  left: 0;
  top: -3px;
}

.form-index__checkbox:checked + .form-index__check {
  content: "";
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  border: 1px solid $border-color;
  left: 0;
  top: -3px;
}

.form-index__checkbox:focus ~ .form-index__check {
  outline: -webkit-focus-ring-color auto 5px;
}

.form-index__checkbox:-moz-focusring ~ .form-index__check {
  outline: 2px dotted;
}

.form-index__button {
  padding: 15px 10px;
  text-align: center;
  background-color: $menu-button-back;
  color: $mainback-color;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: block;
  border: none;
  width: 100%;
  max-width: 450px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .form-index {
    display: flex;
    align-items: baseline;
    margin-bottom: 13px;
    max-width: 741px;
    background-color: $mainback-color;
    margin-left: auto;
    margin-right: auto;
  }

  .form-index__group {
    min-width: 47%;
  }

  .form-index__block--checkbox {
    background-color: $mainback-color;
    padding: 11px 0;
    padding-left: 11px;
    margin-bottom: 0;
    min-height: 45px;
    margin-left: auto;
  }

  .form-index__list {
    margin-bottom: 0;
  }

  .form-index__button {
    display: inline-block;
    width: 20%;
    margin-right: 0;
  }

  .form-index__placeholder {
    line-height: 17px;
  }

  .form-index__line {
    margin-bottom: 0;
  }
}

@media (min-width: $xldesktop-width) {
  .form-index__group {
    min-width: 25%;
  }

  .form-index__block--checkbox {
    padding-right: 170px;
  }
}