.gallery {
  display: none;
}

@media (min-width: $desktop-width) {
  .gallery {
    display: block;
  }

  .gallery__list {
    @include margin-reset;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    height: 1432px;
  }

  .gallery__link {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    font: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: none;
  }

  .gallery__image {
    display: block;
    background-color: rgb(240,240,240);
  }

  .gallery__item--by2,
  .gallery__link--by2,
  .gallery__image--by2 {
    width: 375px;
    height: 432px;
  }

  .gallery__item--by3,
  .gallery__link--by3,
  .gallery__image--by3 {
    width: 250px;
    height: 288px;
  }

  .gallery__item--by1,
  .gallery__link--by1,
  .gallery__image--by1 {
    width: 750px;
    height: 712px;
  }

  .gallery__link:hover::before,
  .gallery__link:focus::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 10%;
    right: 10%;
    background-image: url("../img/icon-zoom-in.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
  }
}