.item-page {
  padding: 30px 0 10px 0;
  display: flex;
  justify-content: center;
}

.item-page__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 375px;
  //margin: 0 auto;
  //max-width: 540px;
}

.item-page__wrapper {
  padding: 0 30px;
  //margin: 0 auto;
}

.item-page__title-wrapper {
  margin-bottom: 10px;
}

.item-page__title {
  @include margin-reset;
  font-family: "Boita", "Times New Roman", serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: $text-color3;
}

.item-page__favorite {
  display: none;
}

.item-page__cost-wrapper {
  @include margin-reset;
  margin-bottom: 10px;
}

.item-page__cost {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.item-page__cost--deleted {
  color: $text-color6;
  margin-right: 10px;
  text-decoration: line-through;
}

.item-page__info {
  margin-bottom: 30px;
  color: $text-color5;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;
}

.item-page__discount,
.item-page__lack {
  @include margin-reset;
}

.item-page__delivery {
  padding: 25px 30px 10px 30px;
}

.item-page__delivery-title {
  @include margin-reset;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 15px;
}

.item-page__delivery-info {
  @include margin-reset;
  text-transform: none;
  margin-bottom: 25px;
}

.item-page__delivery-link {
  font-size: inherit;
  font-weight: inherit;
  line-height: 18px;
  color: inherit;
  text-transform: none;
  cursor: pointer;
}

.item-page__email {
  width: 375px;
  padding: 35px 30px;
  background-color: $image-back3;
}

.item-page__email-form {
  display: flex;
  width: 100%;
  background-color: $mainback-color;
}

.item-page__line {
  background-color: $mainback-color;
  padding: 10px;
  border: none;
  width: 100%;
}

.item-page__placeholder {
  line-height: 18px;
}

.item-page__email-button {
  font-weight: 700;
  line-height: 18px;
  border: none;
  background-color: $mainback-color;
  padding: 10px;
  color: $text-color5;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}

.item-page__email-button:hover,
.item-page__email-button:focus {
  opacity: 70%;
}

@media (min-width: $landscape-width) {
  .item-page__container {
    max-width: 425px;
  }
}

@media (min-width: $tablet-width) {
  .item-page__container {
    max-width: 668px;
  }
}

@media (min-width: $laptop-width) {
  .item-page__container {
    max-width: 752px;
    padding-left: 420px;
    position: relative;
  }

  .item-page__wrapper,
  .item-page__delivery {
    padding: 0;
  }

  .item-page__title {
    font-size: 25px;
    line-height: 27px;
  }
}

@media (min-width: $xlaptop-width) {
  .item-page__container {
    max-width: 840px;
  }

  .item-page__title {
    font-size: 28px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .item-page {
    display: flex;
    padding: 85px 0 65px 0;
    max-width: 1260px;
    margin: 0 auto;
    border-bottom: 1px solid $border-color2;
  }

  .item-page__wrapper {
    display: flex;
    flex-direction: column;
  }

  .item-page__container {
    padding-top: 90px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
  }

  .item-page__title-wrapper {
    margin-bottom: 15px;
    position: relative;
  }

  .item-page__title {
    font-size: 40px;
    line-height: 36px;
  }

  .item-page__cost-wrapper {
    margin-bottom: 15px;
    display: flex;
  }

  .item-page__cost {
    font-family: "Boita", "Times New Roman", serif;
    font-size: 24px;
    line-height: 36px;
  }

  .item-page__cost--bold {
    order: 1;
  }

  .item-page__cost--deleted {
    margin-right: 0;
    margin-left: 10px;
    order: 2
  }

  .item-page__info {
    margin-bottom: 15px;
  }

  .item-page__delivery {
    order: 5;
    padding-bottom: 0;
  }

  .item-page__sizes-select {
    order: 4;
  }

  .item-page__email {
    width: 505px;
    padding: 0 30px;
    background-color: $mainback-color;
  }

  .item-page__email-form {
    border: 1px solid $border-color;
    justify-content: space-between;
  }

  .item-page__line {
    padding: 20px 10px;
    width: 215px;
  }

  .item-page__email-button {
    width: 230px;
  }

  .item-page__email--underline .item-page__email-form {
    border: none;
    border-bottom: 1px solid $border-color3;
    color: $text-color2;
  }

  .item-page__email--underline .item-page__placeholder,
  .item-page__email--underline .item-page__email-button {
    color: $text-color2;
  }

  .item-page__favorite {
    position: absolute;
    width: 27px;
    height: 26px;
    top: 10%;
    right: 1%;
    z-index: 2;
    border: none;
    background: transparent;
    display: block;
  }

  .item-page__favorite::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 26px;
    top: 0;
    right: 0;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 27px 26px;
  }

  .item-page__favorite:hover::after,
  .item-page__favorite:focus::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    background-image: url("../img/icon-heart-check.svg");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 5;
    background-size: 15px 15px;
  }
}
