.main-nav__wrapper {
  position: fixed;
  z-index: 28;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.menu__list-hide {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  width: 41px;
  background-color: $mainback-color;
  cursor: pointer;
  border: none;
  padding: 10px 10px;
  height: 33px;
  margin: -10px 0 -10px -10px;

  &:-moz-focusring {
    outline: 2px dotted midnightblue;
  }
}

  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 21px;
    height: 1px;
    background-color: $menu-button-back;
    box-shadow: 0 6px 0 0 $menu-button-back, 0 12px 0 0 $menu-button-back;
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav__toggle--open {
    left: 17px;
    top: 23px;
  }

  .main-nav__toggle--closed {
    right: 17px;
    top: 25px;
    z-index: 40;
    position: fixed;
  }

  .main-nav__toggle--nojs {
    display: none;
  }

  .main-nav__list--nojs {
    display: block;
  }

@media (min-width: $laptop-width) {
  .main-nav--mobile {
  display: none;
  }
}