//.main-nav {
//  position: fixed;
//  z-index: 28;
//  width: 100%;
//
//  top: 0;
//  left: 0;
//  display: flex;
//  flex-direction: column;
//}

.main-nav {

}

.main-nav__wrapper {
  position: fixed;
  z-index: 28;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.menu__list-hide {
  display: none;
}

.main-nav__toggle {
  position: absolute;
  //z-index: 2;
  display: block;
  width: 41px;
  background-color: $mainback-color;
  cursor: pointer;
  border: none;
  padding: 10px 10px;
  height: 33px;
  margin: -10px 0 -10px -10px;

  &:-moz-focusring {
    outline: 2px dotted midnightblue;
  }
}

//временно
.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 21px;
  height: 1px;
  background-color: $maintext-color;
  box-shadow: 0 6px 0 0 $maintext-color, 0 12px 0 0 $maintext-color;
}

.main-nav--closed {
  display: none;
}

.main-nav__toggle--open {
  left: 17px;
  top: 23px;
}

.main-nav__toggle--closed {
  right: 17px;
  top: 25px;
  z-index: 40;
  position: fixed;
}

.main-nav__toggle--nojs {
  display: none;
}

.main-nav__list--nojs {
  display: block;
}

