.nav-mobile__list {
  @include margin-reset;
  list-style: none;
  display: flex;
  width: 100%;
}

.nav-mobile__item {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.nav-mobile__item:first-child {
  border-right: 1px solid $mainback-color;
}

.nav-mobile__link {
  padding: 17px 10px;
  text-align: center;
  background-color: $menu-button-back;
  color: $text-color4;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  display: block;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.nav-mobile__link:hover,
.nav-mobile__link:focus {
  background-color: $image-back1;
  color: inherit;
}


@media (min-width: $desktop-width) {
  .nav-mobile {
    display: none;
  }
}