//для демонстрации. Скрывает выпадающее меню на десктопе. чтобы показать, нужно убрать класс
.nav-desktop__hide {
  display: none;
}
//---

.nav-desktop {
  display: none;
}

@media (min-width: $laptop-width) {
  .nav-desktop {
    display: block;
    order: 2;
  }

  .nav-desktop__list {
    @include margin-reset;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $menu-button-back;
    padding-right: 40px;
  }

  .nav-desktop__item {
    position: relative;
    z-index: 10;
  }

  .nav-desktop__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: $text-color4;
    padding: 20px 15px 18px 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .nav-desktop__link--active,
  .nav-desktop__link:hover,
  .nav-desktop__link:focus {
    background-color: $image-back1;
    color: inherit;
  }

  .nav-desktop__link--discount {
    color: $link-color2;
  }

  .nav-desktop__item .nav-desktop__menu-list {
    display: none;
    @include margin-reset;
    list-style: none;
    background-color: $image-back1;
    padding: 10px 15px;
    width: 245px;
    position: absolute;
    top: 52px;
    left: 0;
  }

  .nav-desktop__item:hover .nav-desktop__menu-list {
    display: block;
  }

  .nav-desktop__menu-link {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-decoration: none;
    color: inherit;
    text-transform: none;
    display: block;
    cursor: pointer;
    white-space: nowrap;
  }

  .nav-desktop__menu-link:hover,
  .nav-desktop__menu-link:focus {
    font-weight: 700;
  }

  .nav-desktop__menu-item {
    border-bottom: 0.5px solid $menulink-border;
  }

  .nav-desktop__menu-item:last-child {
    border-bottom: none;
  }
}