.page-footer {
  max-width: none;
}

.page-footer__wrapper {
  //border-top: 1px solid $border-color2;
  padding: 40px 0 45px 0;
}

.page-footer__list {
  @include margin-reset;
  list-style: none;
}

.page-footer__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.1em;
  padding: 5px;
  display: block;
  cursor: pointer;
}

.page-footer__item {
  margin-left: -7px;
  margin-right: -7px;
}

.page-footer__item--menu {
  margin-bottom: 5px;
}

.page-footer__link--menu {
  font-weight: 400;
  letter-spacing: 0.05em;
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: $menulink-border;
}

.page-footer__link--menu:hover,
.page-footer__link--menu:focus {
  color: $menulink-border;
}

.page-footer__copyright {
  @include margin-reset;
  margin-top: 26px;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-transform: none;
}

.page-footer__item-list {
  list-style: none;
  @include margin-reset;
}

.page-footer__wrapper--bordered {
  border-top: 1px solid $border-color2;
}

@media (min-width: $laptop-width) {
  .page-footer {
    padding: 0 80px 0 90px;
  }

  .page-footer__wrapper {
    padding: 80px 0 59px 0;
  }

  .page-footer__wrapper--border {
    border-top: none;
  }

  .page-footer__list {
    display: flex;
    align-items: flex-start;
  }

  .page-footer__item-wrapper--company {
    order: 2;
  }

  .page-footer__item-wrapper--social {
    order: 3;
    margin-left: auto;
  }

  .page-footer__item-wrapper--business {
    order: 1;
    margin-right: 117px;
  }

  .page-footer__copyright {
    margin-top: 35px;
  }

  .page-footer__item {
    margin-bottom: 5px;
  }

  .page-footer__link {
    font-weight: 400;
  }
}

@media (min-width: $xldesktop-width) {
  .page-footer {
    padding: 0 70px 0 160px;
  }

  .page-footer__wrapper {
    padding: 80px 0 70px 0;
  }
}