.profile__wrapper {
  padding: 25px 0 45px 0;
  max-width: 768px;
}

.profile__title {
  display: none;
}

.profile__mobile-list {
  @include margin-reset;
  list-style: none;
}

.profile__mobile-item {
  position: relative;
  z-index: 20;
}

.profile__mobile-link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: inherit;
  padding: 15px 0 13px;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  line-height: 20px;
}

.profile__mobile-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 9px;
  bottom: -9px;
  left: 0;
  background-color: $back-color;
}

.profile__mobile-link--open::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url(../img/icon-down.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.profile__mobile-link--closed::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-image: url(../img/icon-up.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.profile__nav-list {
  display: none;
  @include margin-reset;
  list-style: none;
  padding: 10px 20px;
  background-color: $back-color;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
}

.profile__mobile-item:hover .profile__nav-list {
  display: block;
}

.profile__nav-item:last-child {
  border-bottom: none;
}

.profile__nav-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: $text-color4;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  width: 100%;
  display: block;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
}

.profile__nav-item:last-child .profile__nav-link {
  border-bottom: none;
}

.profile__nav-link:hover,
.profile__nav-link:focus,
.profile__nav-link:active {
  opacity: 70%;
}

.profile__form-wrapper .order__form {
  padding-top: 30px;
  width: 100%;
}

.profile__subscribtion-wrapper .order__form--subscription {
  padding-top: 45px;
}

.profile__form-wrapper .order__block {
  padding-bottom: 25px;
}

.profile__form-wrapper .order__form-wrapper {
  padding-bottom: 0;
}

.profile__form-wrapper .order__form-wrapper--delivery {
  padding-bottom: 5px;
}

.profile__button {
  width: 100%;
  display: block;
  padding: 20px 10px;
  border: none;
  text-align: center;
  background-color: $menu-button-back;
  color: $text-color4;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.profile__button:hover,
.profile__button:focus {
  background-color: $image-back1;
  color: inherit;
}

.profile__wrapper--favourites,
.profile__wrapper--subscribtion {
  padding-bottom: 0;
  width: 315px;
  margin: 0 auto;
}

.profile__wrapper--favourites .favourites__catalog {
  padding-bottom: 10px;
}

.profile__favourites-wrapper {
  padding: 0;
}

.profile__subscribtion-wrapper .order__form-title,
.profile__subscribtion-wrapper .catalog__title {
  @include margin-reset;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 15px;
}

.profile__subscribtion-wrapper .favourites__catalog {
  padding-top: 15px;
}

.profile__subscribtion-wrapper .catalog-item__title {
  margin-bottom: 0;
}

.profile__subscribtion-wrapper .catalog-item {
  padding-bottom: 0;
  margin-bottom: 30px;
}

.profile__subscribtion-wrapper .catalog-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.profile__subscribtion-wrapper .catalog {
  padding-bottom: 25px;
}

.profile__subscribtion-wrapper .profile__button {
  margin-top: 45px;
  margin-bottom: 15px;
}

.profile__subscribtion-wrapper .favourites__wrapper {
  justify-content: flex-start;
}

@media (min-width: $tablet-width) {
  .profile__wrapper {
    padding: 95px 0 130px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: none;
  }

  .profile__title {
    @include margin-reset;
    display: block;
    font-size: 36px;
    font-weight: 300;
    line-height: 45px;
    margin-bottom: 30px;
  }

  .profile__block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .profile__mobile-link,
  .profile__mobile-item::before {
    display: none;
  }

  .profile__nav-list--hide {
    display: inline-block;
    vertical-align: middle;
  }

  .profile__nav-list {
    position: static;
    width: 200px;
    margin-right: 30px;
    background-color: $mainback-color;
    padding: 0;
  }

  .profile__nav-link {
    color: $maintext-color;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    padding: 15px 0;
  }

  .profile__nav-link--active {
    border-bottom: 1px solid $border-color2;
  }

  .profile__form-wrapper {
    width: 100%;
    max-width: 810px;
  }

  .profile__form-wrapper .order__block--email,
  .profile__form-wrapper .order__block--phone,
  .profile__form-wrapper .order__block--city,
  .profile__form-wrapper .order__block--address {
    width: 100%;
  }

  .profile__form-wrapper .order__form {
    width: 100%;
    padding-top: 10px;
  }

  .profile__form-wrapper .order__block--name {
    order: 3;
  }

  .profile__form-wrapper .order__block--email {
    order: 1;
  }

  .profile__form-wrapper .order__block--phone {
    order: 2;
  }

  .profile__form-wrapper .order__block--city {
    order: 4;
  }

  .profile__form-wrapper .order__block--address {
    order: 5;
  }

  .profile__button {
    order: 6;
    width: 175px;
    font-size: 18px;
    line-height: 23px;
    margin-top: 35px;
  }

  .profile__wrapper--archive {
    padding-bottom: 100px;
  }

  .profile__wrapper--archive .profile__nav-list,
  .profile__wrapper--favourites .profile__nav-list,
  .profile__wrapper--subscribtion .profile__nav-list {
    margin-right: 55px;
  }

  .profile__wrapper--favourites .favourites__catalog {
    padding-top: 0;
  }

  .profile__favourites-wrapper {
    padding: 0;
  }

  .profile__favourites-wrapper .catalog-item {
    margin-bottom: 40px;
  }

  .profile__wrapper--favourites,
  .profile__wrapper--subscribtion {
    padding-bottom: 80px;
    margin: 0;
    width: 720px;
  }

  .profile__subscribtion-wrapper .order__form-title,
  .profile__subscribtion-wrapper .catalog__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
  }

  //.profile__wrapper--subscribtion .profile__nav-list {
  //  margin-right: 90px;
  //}

  .profile__subscribtion-wrapper .catalog__title {
    margin-bottom: 20px;
  }

  .profile__subscribtion-wrapper .order__form-wrapper--category {
    flex-direction: row;
  }

  .profile__subscribtion-wrapper .favourites__catalog {
    padding-top: 40px;
  }

  .profile__subscribtion-wrapper .catalog {
    padding-bottom: 0;
  }

  .profile__subscribtion-wrapper .order__form:last-of-type {
    padding-top: 0;
  }

  .profile__subscribtion-wrapper .profile__button {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  .profile__favourites-wrapper .favourites__wrapper {
    max-width: 960px;
  }
}

@media (min-width: $laptop-width) {
  .profile__wrapper {
    padding: 95px 35px 130px 45px;
  }

  .profile__nav-list,
  .profile__wrapper--archive .profile__nav-list,
  .profile__wrapper--favourites .profile__nav-list {
    width: 240px;
    margin-right: 60px;
  }

  .profile__wrapper--favourites,
  .profile__wrapper--subscribtion {
    width: 903px;
  }

  .profile__wrapper--favourites .favourites__wrapper {
    justify-content: start;
  }
}

@media (min-width: $xlaptop-width) {
  .profile__wrapper--favourites,
  .profile__wrapper--subscribtion {
    width: 1100px;
  }

  .profile__favourites-wrapper .catalog-item__image-wrapper,
  .profile__subscribtion-wrapper .catalog-item__image-wrapper {
    width: 300px;
    height: 300px;
  }

  .profile__favourites-wrapper .catalog-item__image,
  .profile__subscribtion-wrapper .catalog-item__image {
    width: 300px;
    height: 300px;
  }

  .profile__favourites-wrapper .favourites__select.sizes-select,
  .profile__subscribtion-wrapper .favourites__select.sizes-select {
    min-width: 300px;
  }

  .profile__favourites-wrapper .sizes-select__block,
  .profile__subscribtion-wrapper .sizes-select__block {
    min-width: 300px;
  }

  .profile__favourites-wrapper .favourites__button,
  .profile__subscribtion-wrapper .favourites__button {
    width: 300px;
    font-size: 18px;
    line-height: 23px;
  }
}

@media (min-width: $desktop-width) {
  .profile__wrapper--favourites {
    width: 1300px;
  }

  .profile__wrapper {
    padding: 95px 0 130px 0;
  }
}