.slider {
  position: relative;
  padding-bottom: 30px;
  width: 375px;
  overflow: hidden;
}

.slider__favorite {
  position: absolute;
  width: 18px;
  height: 17px;
  bottom: 90px;
  right: 10%;
  z-index: 2;
  border: none;
  background: transparent;
  cursor: pointer;
}

.slider__favorite::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 17px;
  top: 0;
  right: 0;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.slider__favorite:hover::after,
.slider__favorite:focus::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  background-image: url("../img/icon-heart-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 5;
}

.slider__wrapper {
  display: flex;
  width: 380%;
  height: 325px;
  font-size: 0;
  margin-bottom: 20px;
}

.slider__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__bar {
  width: 10px;
  height: 10px;
  background-color: $image-back3;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  padding: 0;
}

.slider__bar:hover,
.slider__bar:focus {
  width: 10px;
  height: 10px;
  background-color: $menu-button-back;
}

.slider__item {
  width: 282px;
  transition: all .6s ease;
}

@media (min-width: $desktop-width) {
  .slider {
    display: none;
  }
}