.social {
  margin-bottom: 10px;
}

.social__list {
  @include margin-reset;
  padding-top: 11px;
  list-style: none;
  display: flex;
  margin-bottom: 15px;
  margin-left: -7px;
}

.social__item {
  margin-right: 1px;
}

.social__link {
  padding: 7px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  //border: 1px solid $border-color5;
  //border-radius: 3px;
  //fill: red;
  transform: scale(1.1);
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-top: 0;
  }
}
